:root {
  font-size: 100%;
  font-family: system-ui, sans-serif;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  vertical-align: baseline;
}

*::before,
*::after {
  display: block;
}

img,
picture,
video,
iframe,
figure,
canvas {
  max-width: 100%;
  display: block;
  width: 100%;
  height: initial;
  object-fit: cover;
  object-position: center center;
}

a {
  display: block;
  text-decoration: none;
  color: inherit;
  font: inherit;
}

p a {
  display: inline;
}


h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
a,
strong,
blockquote,
i,
b,
u,
em,
pre,
code,
mark,
del {
  font: inherit;
  text-decoration: none;
  color: inherit;
  overflow-wrap: break-word;
  text-wrap: pretty;
}

mark {
  background-color: transparent;
}

blockquote::before,
blockquote::after,
q::before,
q::after {
  content: none;
}

form,
input,
textarea,
select,
button,
label {
  font: inherit;
  hyphens: auto;
  background-color: transparent;
  color: inherit;
  display: block;
  appearance: none;
}

fieldset {
  border: none;
}

::placeholder {
  color: unset;
}

button,
label {
  cursor: pointer;
}

table,
tr,
td,
th,
tbody,
thead,
tfoot {
  border-collapse: collapse;
  border-spacing: 0;
  font: inherit;
}

svg {
  width: 100%;
  display: block;
  fill: currentColor;
}

body {
  min-height: 100vh;
  line-height: 1.5em;
  color: inherit;
  hyphens: auto;
  font-smooth: always;
  -webkit-font-smoothing: antialiased;

  -moz-osx-font-smoothing: grayscale;
}

.body--no-scroll {
  overflow: hidden;
}

:root {
  
  --color-primario: rgb(252, 209, 22); 
  --color-secundario: rgb(0, 56, 168);
  --color-terciario: rgb(206, 17, 38);  
  --color-fondo: #f9f9f9;
  --color-texto: #000; 
  --font-decorativa: "Kaushan Script", cursive;
  --sombra: 0 0 2rem rgba(0, 0, 0, 0.2);
}




.Hero {
  background-image: url(../assets/hero-img.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  min-height: calc(100vh - 15vh);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 1rem;

  .Hero-h1 {
    font-family: var(--font-decorativa);
    font-weight: 400;
    font-size: 8.375rem;
    min-height: 30vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-fondo);

    -webkit-text-stroke: 3px rgb(9, 16, 39);
    margin-bottom: 1.25rem;

    animation: upDown 5s ease 0s infinite both;
  }



  .Hero-carrousel {

    max-width: 600px;
    background-color: var(--color-fondo);
    margin: auto;
    border-radius: 1rem;
    box-shadow: 0 0 2rem var(--sombra);
    position: relative;
    overflow: hidden;
    scroll-snap-type: x mandatory;

    .Hero-imagenes {
      min-height: 200px;
      display: grid;


      .Hero-img {
        height: 300px;

        scroll-snap-align: center;
      

      }

    



    }

    .Hero-arrows {
      display: flex;
      gap: 3rem;
      justify-content: center;
      align-items: center;
     



      .Hero-arrow {
        --size: 3rem;
        width: var(--size);
        height: var(--size);
        padding: .9375rem;

        position: absolute;

        background-color: var(--color-fondo);
        width: fit-content;

        border-radius: 1rem;
        top: 50%;
        margin: auto 20px;


        cursor: pointer;
      }

      .Hero-arrow--prev {
        left: 0;
        
        
      }

     

      .Hero-arrow--next {
        right: 0;
      }
    }
  }
}

.Destinos {
  min-height: 100vh;

  padding: 3.125rem;


  .Regiones {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    width: 100%;
    margin: 1.875rem 0 0 0;
    position: relative;
    padding: 1.25rem;


    .Lugar-mapa {
      position: absolute;

      padding: 1.25rem;

      pointer-events: none;
      z-index: 1000;
      top: 0;
      right: 0;
      display: flex;

      .mapa {
        width: 1.875rem;
        height: 1.875rem;
      }

      .modal-titulo {
        font-size: 20px;


      }

    }


    .Departamento {
      width: 30%;
      min-height: 40vh;
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      align-items: center;
      border-radius: 50px;
      transition: scale .6s ease;
      background: #e0e0e0;
      box-shadow: -26px -26px 51px #989898,
        26px 26px 51px #ffffff;



      .Departamento-img {
       
        width: 100%;
        height: 50vh;
        border-top-right-radius: 1.25rem;
        border-top-left-radius: 1.25rem;
        object-fit: cover;



      }



      .Departamento-descripcion {
        width: 100%;
        min-height: 20vh;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        gap: .5rem;
        padding: 1.25rem;
        color: var(--color-texto);
        border: var(--color-texto) 1px solid;
        border-bottom-left-radius: 50px;
        border-bottom-right-radius: 50px;

        .Capital {
          display: flex;
          flex-flow: column wrap;
          justify-content: center;


        }

      }
    }

    .Departamento:hover {
      scale: 1.1;


    }

    .Destinos-mapa {
      display: flex;
      justify-content: center;
      align-items: center;


      .mapsvg-svg {
        path {
          fill: var(--color-secundario);
          transition: opacity 0.6s ease;

        }

        path:hover {
          fill: var(--color-primario);
        }

        .departamento--activo {
          fill: var(--color-terciario);
          cursor: pointer;
          opacity: 0.7;
        }
      }
    }
  }

  .Regiones-info {
    width: 100%;
    min-height: 80vh;
    display: none;
  }
}

.Info {

  background: var(--color-primario);
  box-shadow: 20px 20px 60px #bebebe,
    -20px -20px 60px var(--color-fondo);
  margin: 1.25rem 0 0 0;
  border-radius: 1.25rem;

  min-height: 100vh;
  width: 100%;

  padding: 3.125rem;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  position: relative;





  .Info-util {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    align-items: center;
    justify-content: center;

    .Info-especifica {
      opacity: 0;
      transform: translateY(50px);
      min-height: 30vh;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;

      z-index: 1;
      transition: scale .5s ease, opacity .5s ease, transform 0.5s ease;

      .Info-img {
        width: 6.25rem;
        height: 6.25rem;
        object-fit: cover;


      }


    }

    .isVisible {
      opacity: 1;
      transform: translateY(0);


    }

    .Info-especifica:hover {

      scale: 1.2;
    }

    .Info-superior {
      opacity: 0;
      background-color: var(--color-fondo);
      border-radius: .625rem;
      box-shadow: 0 4px 8px var(--sombra);
      padding: 2rem;
      width: 90%;
      max-height: 100%;
      position: absolute;
      display: flex;
      flex-flow: column nowrap;
      justify-content: start;
      align-items: center;
      margin: auto;

      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      overflow-y: auto;



      .Info-superior-titulo {
        display: flex;
        gap: 1.25rem;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        background-color: var(--color-fondo);
        border-radius: 50px;



        .Info-superior-h2 {
          font-size: 1.8rem;
          font-weight: bold;

          margin-bottom: .9375rem 0 .9375rem 0;

        }

        .Info-superior-cerrar {
          padding: 1.25rem;
          display: flex;
          justify-content: center;
          align-items: center;
          transition: color .4s ease;
        }

        .Info-superior-cerrar:hover {
          color: var(--color-terciario);
        }

      }



      .Info-superior-llegar-transportarse {
        display: flex;
        width: 100%;
        justify-content: space-evenly;
        align-items: start;
        gap: 1.25rem;
        padding: .625rem;



        .Cultura-img {
          max-height: 11.25rem;
          width: 50%;
          object-fit: cover;
          border-radius: 1.25rem;
          margin: .625rem 0 0 0;
          transition: scale .5s ease;
        }

        .Cultura-img:hover {
          scale: 0.9;
        }

        .Imperdibles-img {
          max-height: 11.25rem;
          width: 100%;
          object-fit: cover;
          border-radius: 1.25rem;
          margin: .625rem 0 0 0;
          max-width: 25rem;
          transition: scale .6s ease;

        }

        .Imperdibles-img:hover {
          scale: 0.9;
        }



        .Bebidas-postres {

          min-height: 12.5rem;
          display: flex;
          gap: 2rem;
          margin: 1.25rem 0 0 0;
          width: 50%;

          .Postres-img {
            max-height: 11.25rem;
            object-fit: cover;
            border-radius: 1.25rem;
            transition: scale .5s ease;
          }

          .Postres-img:hover{
            scale: 0.9;
          }

        }

      }




    }

    .Info-superior--visible {
      opacity: 1;
      z-index: 2;

    }
  }
}






@media (max-width: 1100px) {
  .Destinos {
    .Regiones {
      .Departamento {
        width: 40%;
      }
    }
  }

}

@media (max-width: 1000px) {
  .Info {
    .Info-util {
      .Info-superior {
        width: 100%;
      }
    }
  }
}

@media (max-width: 992px) {


  .Hero {
    flex-direction: column;

  }

  .Destinos {
    .Regiones {
      flex-direction: column-reverse;

      .Departamento {
        width: 70%;
      }
    }
  }
}

@media (max-width: 800px) {
  .Info {
    .Info-util {
       .Info-superior {
        .Info-superior-llegar-transportarse {
          flex-direction: column;
          width: 100%;

          .Info-superior-llegar-ul {
            width: 100%;
          }
        }
      }
    }
  }
}

@media (max-width: 700px) {
  .Hero {
    .Hero-h1 {

      font-size: 6.25rem;

    }
  }

  h1 {

    .Info {
      .Info-util {
        grid-template-columns: repeat(2, 1fr);

      }
    }


  }

  @media (max-width: 500px) {
    .Hero {
      padding: 0;
      .Hero-h1 {
        font-size: 4rem;
        min-height: 30vh;

      }
    }

    .Destinos {
      padding: 1.25rem;
      .Regiones {
        .Destinos-mapa {
          max-height: 400px;
        }

        .Departamento {
          width: 90%;
        }
      }
    }

    .Info {
      .Info-util {
        grid-template-columns: 1fr;

        .Info-superior {
          height: 100%;

        }

      }

    }
  }
}

@media (max-width: 320px) {
  .Hero {
    .Hero-h1 {
      font-size: 5.375rem;
      min-height: 30vh;
    }
  }
}


@keyframes upDown {

  0% {
    transform: translateY(.625rem) rotate(-15deg);

  }

  50% {
    transform: translateY(-0.625rem) rotate(-15deg);

  }

  100% {
    transform: translateY(.625rem) rotate(-15deg);

  }

}